# Assessing
Use the space below to explore `all_alpha_08.csv` and `all_alpha_18.csv` to answer the quiz questions below.

In [1]:
import pandas as pd
df_2008 = pd.read_csv('all_alpha_08.csv')
df_2008.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 2404 non-null   object
 1   Displ                 2404 non-null   float64
 2   Cyl                   2205 non-null   object
 3   Trans                 2205 non-null   object
 4   Drive                 2311 non-null   object
 5   Fuel                  2404 non-null   object
 6   Sales Area            2404 non-null   object
 7   Stnd                  2404 non-null   object
 8   Underhood ID          2404 non-null   object
 9   Veh Class             2404 non-null   object
 10  Air Pollution Score   2404 non-null   object
 11  FE Calc Appr          2205 non-null   object
 12  City MPG              2205 non-null   object
 13  Hwy MPG               2205 non-null   object
 14  Cmb MPG               2205 non-null   object
 15  Unadj Cmb MPG         2205 non-null   float64
 16  Greenhouse Gas Score  2205 non-null   object
 17  SmartWay              2404 non-null   object
dtypes: float64(2), object(16)
memory usage: 338.2+ KB

In [2]:
# duplicate rows
len(df_2008)-len(df_2008.drop_duplicates())

25

In [3]:
#rows with missing data
sum(df_2008.apply(lambda x: sum(x.isnull().values), axis = 1)>0)

199

In [4]:
import pandas as pd
df_2018 = pd.read_csv('all_alpha_18.csv')
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 1611 non-null   object
 1   Displ                 1609 non-null   float64
 2   Cyl                   1609 non-null   float64
 3   Trans                 1611 non-null   object
 4   Drive                 1611 non-null   object
 5   Fuel                  1611 non-null   object
 6   Cert Region           1611 non-null   object
 7   Stnd                  1611 non-null   object
 8   Stnd Description      1611 non-null   object
 9   Underhood ID          1611 non-null   object
 10  Veh Class             1611 non-null   object
 11  Air Pollution Score   1611 non-null   int64
 12  City MPG              1611 non-null   object
 13  Hwy MPG               1611 non-null   object
 14  Cmb MPG               1611 non-null   object
 15  Greenhouse Gas Score  1611 non-null   int64
 16  SmartWay              1611 non-null   object
 17  Comb CO2              1611 non-null   object
dtypes: float64(2), int64(2), object(14)
memory usage: 226.7+ KB

In [5]:
# duplicate rows
len(df_2018)-len(df_2018.drop_duplicates())

0

In [19]:
#rows with missing data
sum(df_2018.apply(lambda x: sum(x.isnull().values), axis = 1)>0)

2

# Feature Datatypes

Analyze different datatypes to see if they match for each dataset.

## Cyl

Analyzes differences in Cyl datatypes between datasets.

### 2008

In [29]:
#type Cyl - 2008
type(df_2008['Cyl'][0])

str

In [46]:
df_2008['Cyl'].head()

0    (6 cyl)
1    (6 cyl)
2    (4 cyl)
3    (4 cyl)
4    (6 cyl)
Name: Cyl, dtype: object

In [48]:
df_2008['Cyl'].nunique()

8

### 2018

In [30]:
#type Cyl - 2018
type(df_2018['Cyl'][0])

numpy.float64

In [47]:
df_2018['Cyl'].head()

0    6.0
1    6.0
2    6.0
3    6.0
4    4.0
Name: Cyl, dtype: float64

In [49]:
df_2018['Cyl'].nunique()

7

## City MPG

In [35]:
# type City MPG - 2008
type(df_2008['Hwy MPG'][0])

str

In [36]:
# type City MPG - 2018
type(df_2018['Hwy MPG'][0])

str

## Greenhouse Gas Score

In [37]:
# type Greenhouse Gas Score - 2008
type(df_2008['Greenhouse Gas Score'][0])

str

In [39]:
# type Greenhouse Gas Score - 2018
type(df_2008['Greenhouse Gas Score'][1])

str

# Unique Values

Get the number of unique values for different datatypes.

In [40]:
# SmartWay - 2008
df_2008['SmartWay'].nunique()

2

In [41]:
# SmartWay - 2018
df_2018['SmartWay'].nunique()

3

In [42]:
# Sales Area - 2008
df_2008['Sales Area'].nunique()

3

In [43]:
# Cert Region - 2018
df_2018['Cert Region'].nunique()

2

In [44]:
# Trans - 2008
df_2008['Trans'].nunique()

14

# Fuel Types

Analyze the fuel types for the 2008 and 2018 data sets.

## 2008 Dataset Fuel Types

In [25]:
#get the number of unique fuel types for 2008 data set
df_2008['Fuel'].nunique()

5

In [26]:
#fuel types - 2008
fuel_list_2008 = df_2008['Fuel'].tolist()
fuel_set_2008 = set(fuel_list_2008)
fuel_set_2008

{'CNG', 'Gasoline', 'diesel', 'ethanol', 'ethanol/gas'}

## 2018 Dataset Fuel Types

In [27]:
#fuel types - 2018
df_2018['Fuel'].nunique()

5

In [28]:
#fuel types - 2018
fuel_list_2018 = df_2018['Fuel'].tolist()
fuel_set_2018 = set(fuel_list_2018)
fuel_set_2018

{'Diesel', 'Electricity', 'Ethanol/Gas', 'Gasoline', 'Gasoline/Electricity'}