# Filter, Drop Nulls, Dedupe
Use `data_08_v1.csv` and `data_18_v1.csv`. You should've created these data files in the previous section: *Cleaning Column Labels*.

In [1]:
# load datasets
import pandas as pd
df_08 = pd.read_csv('data_08_v1.csv')
df_18 = pd.read_csv('data_18_v1.csv')

In [2]:
# view dimensions of dataset
df_08.shape

(2404, 14)

In [3]:
# view dimensions of dataset
df_18.shape

(1611, 14)

In [4]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 14 columns):
model                   2404 non-null object
displ                   2404 non-null float64
cyl                     2205 non-null object
trans                   2205 non-null object
drive                   2311 non-null object
fuel                    2404 non-null object
cert_region             2404 non-null object
veh_class               2404 non-null object
air_pollution_score     2404 non-null object
city_mpg                2205 non-null object
hwy_mpg                 2205 non-null object
cmb_mpg                 2205 non-null object
greenhouse_gas_score    2205 non-null object
smartway                2404 non-null object
dtypes: float64(1), object(13)
memory usage: 263.0+ KB

## Filter by Certification Region

In [5]:
# filter datasets for rows following California standards
df_08 = df_08.loc[df_08['cert_region'] == 'CA']
df_18 = df_18.loc[df_18['cert_region'] == 'CA']

In [7]:
# confirm only certification region is California
df_08['cert_region'].unique()

array(['CA'], dtype=object)

In [8]:
# confirm only certification region is California
df_18['cert_region'].unique()

array(['CA'], dtype=object)

In [10]:
# drop certification region columns form both datasets
df_08.drop(['cert_region'], axis=1, inplace=True)
df_18.drop(['cert_region'], axis=1, inplace=True)

In [11]:
df_08.shape

(1084, 13)

In [12]:
df_18.shape

(798, 13)

## Drop Rows with Missing Values

In [14]:
# view missing value count for each feature in 2008
df_08.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1084 entries, 0 to 2400
Data columns (total 13 columns):
model                   1084 non-null object
displ                   1084 non-null float64
cyl                     1009 non-null object
trans                   1009 non-null object
drive                   1047 non-null object
fuel                    1084 non-null object
veh_class               1084 non-null object
air_pollution_score     1084 non-null object
city_mpg                1009 non-null object
hwy_mpg                 1009 non-null object
cmb_mpg                 1009 non-null object
greenhouse_gas_score    1009 non-null object
smartway                1084 non-null object
dtypes: float64(1), object(12)
memory usage: 118.6+ KB

In [15]:
# view missing value count for each feature in 2018
df_18.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 798 entries, 1 to 1609
Data columns (total 13 columns):
model                   798 non-null object
displ                   797 non-null float64
cyl                     797 non-null float64
trans                   798 non-null object
drive                   798 non-null object
fuel                    798 non-null object
veh_class               798 non-null object
air_pollution_score     798 non-null int64
city_mpg                798 non-null object
hwy_mpg                 798 non-null object
cmb_mpg                 798 non-null object
greenhouse_gas_score    798 non-null int64
smartway                798 non-null object
dtypes: float64(2), int64(2), object(9)
memory usage: 87.3+ KB

In [19]:
# drop rows with any null values in both datasets
df_08.dropna(inplace=True)
df_18.dropna(inplace=True)

In [20]:
# checks if any of columns in 2008 have null values - should print False
df_08.isnull().sum().any()

False

In [21]:
# checks if any of columns in 2018 have null values - should print False
df_18.isnull().sum().any()

False

## Dedupe Data

In [23]:
# print number of duplicates in 2008 and 2018 datasets
df_08.duplicated().sum()

23

In [24]:
df_18.duplicated().sum()

3

In [25]:
# drop duplicates in both datasets
df_08.drop_duplicates(inplace=True)
df_18.drop_duplicates(inplace=True)

In [26]:
# print number of duplicates again to confirm dedupe - should both be 0
df_08.duplicated().sum()

0

In [27]:
df_18.duplicated().sum()

0

In [28]:
# save progress for the next section
df_08.to_csv('data_08_v2.csv', index=False)
df_18.to_csv('data_18_v2.csv', index=False)